body {
    text-align: center;
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
    background-color: rgb(83, 83, 83);
}

#wrapper {
    position: absolute;
    top: 0rem;
    left: 0rem;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 25rem;
    height: 25rem;
    box-sizing: unset;
    font-size: 3rem;
    font-family: serif;
    font-weight: 900;
}

.square {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.05rem solid black;
}

.winning-prompt {
    position: fixed;
    margin: auto;
    width: 40rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.06rem solid black;
    background-color: chartreuse;
    border-radius: 1rem;
    box-shadow: 0.1rem 0.1rem 1rem black;
    opacity: 0.95;
}

.hide {
    display: none;
} 

#reset-btton {
    margin: 1rem;
    width: 4.5rem;
    height: 2rem;
    background-color: coral;
    border-radius: 1rem;
}

#reset-btton:focus {
    outline: none;
}

.welcome-prompt {
    position: fixed;
    margin: auto;
    width: 30rem;
    height: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.06rem solid black;
    background-color: rgb(236, 187, 217);
    border-radius: 1rem;
    box-shadow: 0.1rem 0.1rem 1rem black;
}

.hide {
    display: none;
} 

.welcome-prompt  * {
    margin: 0.5rem;
}

.submit-button button {
    width: 4.5rem;
    height: 2rem;
    background-color: rgb(238, 174, 151);
    border-radius: 1rem;
}

.submit-button button:focus {
    outline: none;
}

#player-data {
    display: flex;
}

#player-data h3{
    margin: 1rem;
    background-color: cornflowerblue;
    padding: 1rem;
    border-radius: 1rem;
    color: white;
    text-shadow: 0.3rem 0.3rem 0.5rem rgb(141, 141, 141);
}

h1 {
    background-color: rgb(255, 185, 104);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0.1rem 0.1rem 01rem rgb(223, 222, 222);
}

